<div class="info-cont">
    <div class="info-heading">
        <h2 class="info-heading-title">{{title}}</h2>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Criado em</th>
                <th>Atualizado em</th>
            </tr>
        </thead>
        <tbody>
            {{#each permissions}}
            <tr>
                <td>{{this.dataValues.id}}</td>
                <td>{{this.dataValues.name}}</td>
                <td>{{this.dataValues.description}}</td>
                <td>{{dateFormat this.dataValues.createdAt}}</td>
                <td>{{dateFormat this.dataValues.updatedAt}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>