<section class="modal modal-delete">
    <div class="modal-content">
        <p class="modal-title">Você realmente deseja deletar este usuário?</p>
        <div class="modal-btns">
            <a href="javascript:void(0)" title="Cancelar" class="btn btn-cancel">Cancelar</a>
            <a href="" title="Deletar" class="btn btn-danger btn-delete">Sim, Quero deletar!</a>
        </div>
    </div>
</section>

<div class="info-cont">
    <div class="info-heading">
        <h2 class="info-heading-title">{{title}}</h2>

        {{#if (can auth 'create.users')}}
        <a href="{{url}}/painel/usuarios/novo" class="btn btn-danger">Novo <i class="fas fa-plus-circle"></i></a>
        {{/if}}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>E-Mail</th>
                <th>Criado em</th>
                <th>Atualizado em</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.dataValues.id}}</td>
                <td>{{this.dataValues.first_name}} {{this.dataValues.last_name}}</td>
                <td>{{this.dataValues.email}}</td>
                <td>{{dateFormat this.dataValues.createdAt}}</td>
                <td>{{dateFormat this.dataValues.updatedAt}}</td>
                <td>
                    {{#if (can ../auth 'delete.users')}}
                    <a href="javascript:void(0)" data-delete="{{url}}/painel/usuarios/{{this.dataValues.id}}/deletar" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                    {{/if}}
                    
                    {{#if (can ../auth 'edit.users')}}
                    <a href="{{url}}/painel/usuarios/{{this.dataValues.id}}/editar" class="btn btn-primary"><i class="fas fa-pencil"></i></a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>