<div class="info-cont">
    <div class="info-heading">
        <h2 class="info-heading-title">{{title}}</h2>

        <a href="{{url}}/painel/consultas/novo" class="btn btn-danger">Novo <i class="fas fa-plus-circle"></i></a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome do Paciente</th>
                <th>Status</th>
                <th>Data da Consúlta</th>
                <th>Criado em</th>
                <th>Atualizado em</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each queries}}
            <tr>
                <td>{{this.dataValues.id}}</td>
                <td>{{this.dataValues.pacient_name}}</td>
                <td>{{this.dataValues.status}}</td>
                <td>{{dateFormat this.dataValues.date_query	}}</td>
                <td>{{dateFormat this.dataValues.createdAt}}</td>
                <td>{{dateFormat this.dataValues.updatedAt}}</td>
                <td>
                    <a href="{{url}}/painel/consultas/{{this.dataValues.id}}/deletar" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                    <a href="{{url}}/painel/consultas/{{this.dataValues.id}}/editar" class="btn btn-primary"><i class="fas fa-pencil"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>